.sf-menu, .sf-menu * {margin:0;padding:0;list-style:none;}
.sf-menu{ float:left; padding:47px 0 0 20px;}
.sf-menu li {float:left; position:relative;  margin-left:3px;}
	.sf-menu li a {display:block;padding:23px 17px 17px 20px; color:#fff;}
	.sf-menu li a span{ display:block; font-size:20px; line-height:1.2em; text-transform:uppercase;}
	.sf-menu li a em{ display:block; color:#eeeeee; font:13px/18px Arial, Helvetica, sans-serif;}
			.sf-menu li.sfHover,.sf-menu li.current,.sf-menu li:hover{ background:url(../images/menu-hover.jpg) 0 0 repeat-x; border-radius: 0 20px 20px 20px;}
			.sf-menu li a:hover{text-decoration:none;}
			.sf-menu li.current a{color:#0ea1d5;}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	z-index:		99; 
	display:none;
	background:#006699;
	padding:13px 0 13px 0;
	border-radius: 0 30px 30px 30px;
}
.sf-menu li li{padding:0; background:#006699; margin:0;border-radius: 0 30px 30px 30px;}
	.sf-menu li li a,.sf-menu li.sfHover li a,.sf-menu li.current li a{border-radius: 0 30px 30px 30px;color:#fff; display:block; padding:4px 10px 4px 15px; font-size:18px; line-height:1.2em; text-transform:uppercase;}
	.sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li.current{border-radius: 0 30px 30px 30px; background:#0ea1d5;}
		.sf-menu li li a:hover,.sf-menu li li.sfHover a,.sf-menu li li.current a{color:#fff;}
.sf-menu ul ul {
	position:		absolute;
	top:			-999em;
	z-index:		99;
	display:none;
	background:#006699;
	padding:13px 0 13px 0;
	border-radius: 0 30px 30px 30px;
}

	.sf-menu li li li{padding:0; }
	.sf-menu li li li a,.sf-menu li li.sfHover li a,.sf-menu li li.current li a{color:#fff}
		.sf-menu li li li a:hover,.sf-menu li li li.current a{color:#fff;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0px;
	top:			86px; /* match top ul list item height */
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			192px; /* match ul width */
	top:			-13px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			00px;
}